<!DOCTYPE html>
<html>
	{% include head.html %}
	<body lang='ES_es' class='fondo-negro-oscuro'>

			<div class='landing centrado'>
				<h1>Gamma</h1>
				<p class='gris'>Diseño front-end para el sitio web de la Escuela de Arquitectura y Diseño e[ad] de la Pontificia Universidad Católica de Valparaíso.</p>
				<p class='gris'>Maquetas diseñadas con:</p>
                <p class='rojo'><a href='http://eadpucv.github.io/pyxis/'><span class='pyxis gruesa rojo-claro'>Pyxis</span> <span class='pyxis fino gris'>framework</span></a> & <a href='http://eadpucv.github.io/stampa/'><span class='pyxis naranja-opuesto grues'>Stampa</span></a></p>
			</div>
	    	<div class='wrap'>
	        	{{ content }}
	    	</div>
	</body>
</html>
