/*

Contenedores y reglas generales

*/

// ajuste de página

body{
  background: none;
  background-color: #f9f9f9;
}

.fondo-oscuro {
    background: fade(@negro-oscuro, 90);
}

.fondo-gris {
    background-color: #f9f9f9;
}

.fondo-header {
    background-color: @blanco;
    border-bottom: 2px solid fade(@pizarra, 5);
    position: inherit !important;
}

.absoluto {
    position: absolute;
    display: block;
    height: auto;

    &.abajo {
        bottom: 0 !important;
        top: auto;
        width: 100%;
    }

    &.arriba{
        top: 0 !important;
        bottom: auto;
        width: 100%;
        z-index: 12;
    }

    &.transparente{
        background-color: fade(@pizarra, 60);        
    }

    &.portada {
        top: 50px !important;
        height: auto;
        background-color: @negro;
    }
}

.pag-ancho-total {
    .container();
    margin: 0 auto;
    width: 100%;
}

.wrap {
    margin: 0 auto;
    padding: 30px 0 30px 0;
    position: relative;

    &.header {
        display: block;
        margin: 0 auto;
        padding: 5px 0 5px 0;
        height: 100px;
    }

    &.sin-relleno {
        padding: 0 !important;
    }
}

.wrap-postulante {
    position: relative;
    margin: 0 auto;
    padding: 0px 0;
    height: 370px;
    width: 1366px;
    .cf;
}

.wrap-footer {
    margin: 0 auto;
    padding: 15px 0 15px 0;
}


.wrap-ancho-maximo {
    width: 100%;
    padding: 30px 0 15px 0;
}

.wrap-dropdown {
    width: 1024px;
    float: right;
}

.wrap-carousel {
    max-width: 1366px;
    margin: 0 auto;
}

.contenedor-sin-relleno {
    .container();
    width: 1366px;
    margin: 0 auto;
    padding: 0;
}

.contenedor-lg {
    .container();
    width: 100%;
    margin: 0 auto;
    padding: 0 0 1px 0;
}

// Extra small screen / phone
@media(max-width: @screen-xs-max){

    // Ajuste de página
    .wrap, .contenedor-sin-relleno, .wrap-footer {
    width: 90%;
    }

        .wrap {
            padding: 15px 0 30px 0;

        &.header {
            height: auto;
        }
    }

    .wrap-postulante {
        width: 80%;
        height: auto;
    }

    .absoluto {
        position: absolute;
        display: block;
        height: auto;
        height: 200px;
    }

}


// Small screen / tablet
@media (min-width: @screen-sm) and (max-width: @screen-sm-max){

    // Ajuste de página
    .wrap, .contenedor-sin-relleno, .wrap-footer {
    width: 90%;
    }

    .contenedor-sin-relleno {
        margin: 0;
    }


    .wrap {
        &.header {
            height: auto;
        }
    }

    .wrap-postulante {
        width: 85%;
    }
}

// Medium screen / desktop

@media (min-width: @screen-md) and (max-width: @screen-md-max){

    // Ajuste de página
    .wrap, .contenedor-sin-relleno, .wrap-footer {
    width: 80%;
    }

    .contenedor-sin-relleno {
        margin: 0;
    }

    .wrap {
        &.header {
            height: auto;
            width: 80%;
            padding: 20px 0;
        }
    }

        // Franja postulante

    .wrap-postulante {
        width: 80%;
    }
}

// Large screen / wide desktop

@media (min-width: @screen-lg){

    // ajuste de página
    .wrap, .wrap-footer {
        max-width: 1366px;
    }
}