#intro{
    background:url(img/fundadores.jpg) 100% 0 no-repeat fixed;
    background-size: 100%;
    color: white;
    height: 400px;
    margin: 0 auto;
    padding: 0;
}

#fundadores{
    background:url(img/godo.jpg) 100% 0 no-repeat fixed;
    background-size: 100%;
    color: white;
    height: 700px;
    margin: 0 auto;
    padding: 0;
}


#amereida{
    background:url(img/amereida.jpg) 100% 0 no-repeat fixed;
    background-size: 100%;
    color: white;
    height: 400px;
    margin: 0 auto;
    padding: 0;
}

#fundadores-anterior-1{
    background:url(img/phalene.jpg) 100% 0 no-repeat fixed;
    background-size: 100%;
    color: white;
    height: 700px;
    margin: 0 auto;
    padding: 0;
}

#fundadores-anterior-2{
    background:url(img/alberto.jpg) 100% 0 no-repeat fixed;
    background-size: 100%;
    color: white;
    height: 700px;
    margin: 0 auto;
    padding: 0;
}
