#intro{
    background:url(img/fundadores.jpg) 100% 0 no-repeat fixed;
    background-size: 100%;
    color: white;
    height: 400px;
    margin: 0 auto;
    padding: 0;
}

#fundadores{
    background:url(img/amereida1.jpg) 100% 0 no-repeat fixed;
    background-size: 100%;
    color: white;
    height: 400px;
    margin: 0 auto;
    padding: 0;
}


#amereida{
    background:url(img/amereida.jpg) 100% 0 no-repeat fixed;
    background-size: 100%;
    color: white;
    height: 400px;
    margin: 0 auto;
    padding: 0;
}