
h1, h2, h3, h4, h5, h6 {
margin: 0;
padding: 0;
letter-spacing: .5px;
color: #797977;
font-weight: 200;
}

.categoria-titulo {
color: fade(@rojo-claro, 75);
    font-weight: 300;
    font-size: @cuerpo * 0.99;
    text-transform: uppercase;
    display: inline-block;

&.noticias {
    letter-spacing: 1px;

        &:hover {
            color: @rojo-claro;
            .transition(.3s ease all);
        }
    }

    &.cuerpo-docente {
letter-spacing: 1px;
margin-bottom: 30px;

&:hover {
            color: @rojo-claro;
            .transition(.3s ease all);
    }
    }
}

.introductora {
    font-size: 80px;
    font-style: italic;
    font-family: @serif;
    letter-spacing: -3px;
    font-weight: 300;
    padding-top: 500px;
    text-align: center;

    &.subtitulo {
        color: @blanco;
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-family: @sans;
        font-style: inherit;
        font-size: 15px;
    }

    &.campus{
        font-size: 3.3vw !important;
        padding-top: 185px;
    }
}

// contenedor texto en noticia-grande de Portada-noticias

.contenedor-texto {
width: 90%;
height: auto;
padding-top: 0px;
margin: 0 auto;
}

.noticia-chica {
float: left;

    &:hover {
        .transition(.3s ease all);

    h6 {
        color: @rojo-claro;
        .transition(.2s ease all);
        }
    }
}

.texto-noticia {
    
    //background-color: @gris-claro;
    margin: 0;

    h1, h3 {
        margin: 0;
        color: @rojo-claro;
    }

    &.grande {
    padding-top: @cuerpo / 3;
    min-height: @cuadratin * 6;
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    min-height: 200px;

    .contenedor-texto {
     padding-top: 5px;

        h2 {
         font-size: 25.3px;
            font-weight: 100;
            color: fade(@negro-oscuro, 60);
        }

        p {
         max-height: 62px;
         overflow: hidden;
        }

        aside {
            color: fade(@negro-oscuro, 80);
            }
        }
    }


    &.chico {
    padding-top: @cuerpo / 6;
    min-height: @cuadratin * 5;

    p {
        margin-top: @cuerpo;
    }
    }
}

.entry-title {
    margin: 0;
    
    &.especifico {
        font-weight: 200;
        font-size: 50px;
        letter-spacing: -1px;
        line-height: 55px;
    }

    &.sobre-imagen{
        display: block;
        position: absolute;
        bottom: 100px;
        font-weight: 200;
        font-size: 65px;
        color: @blanco;
        z-index: 11;
        letter-spacing: -2px;
        left: 260px;
    }

    &.portada {
        letter-spacing: -1px;
        display: inline-block;
        text-align: right;
        padding-right: 30px;
        //margin: 0 40px 20px 10px;
        border-right: 3px solid @rojo-claro;
    }

     &.generico {
         font-size: 18px;
         text-transform: uppercase;
         letter-spacing: 3px;
         font-weight: 300;
         padding-left: 10px;
     }
}

.seccion{
    text-align: center;
    position: relative;
    margin: 0px;
    padding: 0 0 30px 0;

    a {
        h5 {
            &:hover {
                color: @rojo-claro;
                cursor: pointer;
            }
        }
    }

    h5 {
        color: fade(@gris-oscuro, 75);
        letter-spacing: 3px;
        font-size: 16px;
        text-transform: uppercase;
        position: relative;
        padding: 0 45px;
        display: inline;
        font-weight: 300;

        &:before,
        &:after{
            content: "";
            display: inline-block;
            position: relative;
            width: 25vw;
            height: 2px;
            top: -3px;
        }


        i{
            font-size: 16px;
        }
    }
}

.historia {
    .subtitulo, h1 {
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;
    }
}

.categoria-publicacion {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 2.5px;
    border-left: 2px solid;
    padding-left: 8px;

    &:hover {
        cursor: pointer;
        color: @rojo-claro;
    }
}

// Extra small screen / wide desktop
@media(max-width: @screen-xs-max){

.seccion{

h5{
    color: fade(@gris-oscuro, 75);
    letter-spacing: 2px;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    padding: 0 45px;
    display: inline;
    font-weight: 300;

        &:before,
        &:after{
        content: "";
        display: inline-block;
        position: relative;
        width: 0vw;
        height: 2px;
        top: -3px;
        }

    }

    &.info-docencia{
        i{
            position: absolute;
            top: -5px;
            left: 20px;
            font-size: 18px;
        }
    }
}

    .entry-title {
        font-size: 30px;
        margin: 0 0 10px 0;
        line-height: 35px;
        
        &.especifico {
            font-size: 34px;
            font-weight: 200;
            line-height: 38px;
        }

         &.generico {
         font-size: 16px;
         text-align: center;
         text-transform: uppercase;
         letter-spacing: 3px;
         font-weight: 300;
         }
    }

.introductora {
    font-size: 7.3w;
    font-style: italic;
    font-family: @serif;
    letter-spacing: 0px;
    font-weight: 200;
    padding-top: 100px;
    text-align: center;

        &.campus{
            font-size: 6vw !important;
            padding-top: 110px;
            letter-spacing: 1px;
    }

        &.subtitulo {
            font-size: 12px;
            color: @blanco;
            text-transform: uppercase;
            letter-spacing: 4px;
            font-weight: 200;
            text-align: center;
    }
}

.texto-noticia {

    &.grande {

    .contenedor-texto {

        h2 {
         font-size: 22.2px;
            font-weight: 100;
            color: fade(@negro-oscuro, 60);
         }
        }
    }
}

.categoria-titulo {
    color: fade(@rojo-claro, 75);
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;

&.noticias {
    letter-spacing: 1.5px;

        &:hover {
            color: none;
        }
    }

    &.cuerpo-docente {
        letter-spacing: 1.5px;
        margin-bottom: 30px;

&:hover {
            color: none;
    }
    }
}
}

// Small screen / wide desktop
@media (min-width: @screen-sm) and (max-width: @screen-sm-max){
    
    .seccion{

        h3{
        letter-spacing: 3px;

            &:before,
            &:after{
                width: 19vw;
            }
        }
    }

    .entry-title {
        
        &.especifico {
        font-weight: 200;
        font-size: 34px;
        line-height: auto;
        line-height: 38px;
        }

         &.generico {
         font-size: 18px;
         text-transform: uppercase;
         letter-spacing: 4px;
         font-weight: 300;
         }
    }

.introductora {
    font-size: 55px;
    letter-spacing: -1px;
    font-weight: 300;
    padding-top: 200px;;
    text-align: left;

    &.campus{
        font-size: 4vw !important;
        letter-spacing: 1px;
        padding-top: 230px;
    }

    &.subtitulo{
        font-size: 15px;
    }
}

.categoria-titulo {
color: fade(@rojo-claro, 75);
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;

&.noticias {
    letter-spacing: 1.5px;

        &:hover {
            color: none;
        }
    }

    &.cuerpo-docente {
letter-spacing: 1.5px;
margin-bottom: 30px;

&:hover {
            color: none;
    }
    }
}

}

// Medium screen / wide desktop
@media (min-width: @screen-md) and (max-width: @screen-md-max){


.introductora {
    font-size: 4.2vw;
    font-family: @serif;
    font-style: italic;
    letter-spacing: 0px;
    font-weight: 100;
    padding-top: 310px;
    text-align: center;

    &.campus{
        font-size: 3.3vw !important;
        padding-top: 340px;
    }
}

.seccion{

    h3{

        &:before,
        &:after{
            width: 19vw;
            }
        }   
    }

    .entry-title {
        margin: 0;
        
        &.especifico {
            font-weight: 200;
            font-size: 50px;
            letter-spacing: -1px;
        }

        &.sobre-imagen{
            display: block;
            position: absolute;
            bottom: 100px;
            font-weight: 200;
            font-size: 65px;
            color: @blanco;
            z-index: 11;
            letter-spacing: -2px;
            left: 260px;
        }

        &.portada {
            padding-left: 19%;
            letter-spacing: -1px;
        }

     &.generico {
         font-size: 14px;
         text-transform: uppercase;
         letter-spacing: 3px;
         padding-left: 0;
         font-weight: 300;
     } 
    }
    .categoria-publicacion {
        font-size: 10.5px;
        font-weight: 300;
        letter-spacing: 1px;
        padding-left: 5px;
    }
}
