<div class='aside'>
  <div class='bloque-aside'>
    <h5 class='negro'>Enlaces</h5>
    <hr>
  </div>
  <div class='bloque-aside sm'>
    <h6 class='gris'><i class="icn icn-enlace-hor icn-md"></i> publicaciones de diseño</h6>
    <ul class='publicaciones-enlazadas'>
      <li><a href='#'>Proyectos de la e[ad] seleccionados por Fondo “Ideas y Manos para Valparaíso”</a></li>
      <li><a href='#'>Seminario “De la hipótesis al Diseño: Aproximaciones, casos y obras”</a></li>
      <li><a href='#'>Taller de 4º año de Diseño Industrial participa en exposición del escultor chileno Patrick Steeger</a></li>
      <li><a href='#'>Diseñador Mario Fernando Uribe dictó charla sobre diseño de información en la e[ad]</a></li>
      <li><a class='gruesa' href='#'>Todas las publicaciones de Diseño</a></li>
    </ul>
    <hr>
  </div>
  <div class='bloque-aside sm'>
    <h6 class='gris'><i class="icn icn-noticias icn-md"></i> más noticias</h6>
    <ul class='publicaciones-enlazadas'>
      <li><a href='#'>e[ad] presentó libro “Los Ojos del Gato & El Retoque Inacabado -Memorial de Edison Simons”</a></li>
      <li><a href='#'>Entrevista a Ricardo Lang: Comedor en el Cerro La Merced</a></li>
      <li><a href='#'>Proyectos de la e[ad] seleccionados por Fondo “Ideas y Manos para Valparaíso”</a></li>
      <li><a href='#'>Inauguración de exposición Travesía Magallanes 2013 en Museo Marítimo Nacional</a></li>
    </ul>
    <hr>
  </div>
  <div class='bloque-aside oculto-sm oculto-xs'>
    <h6 class='naranja-opuesto'><i class="icn icn-twitter icn-lg"></i> @eadpucv</h6>
    <a class="twitter-timeline" href="https://twitter.com/eadpucv" data-widget-id="451107933158244352">Tweets por @eadpucv</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  <div class='bloque-aside'>
    <h5 class='fino'><i class="icn icn-vinculo icn-md"></i> Comparte esta publicación</h5>
      <a class='red-social' href='#'>
        <span class="icn-stack icn-lg">
          <i class="icn icn-cuadro icn-stack-2x naranja-opuesto"></i>
          <i class="icn icn-twitter icn-stack-1x icn-inverse"></i>
        </span>
      </a>
      <a class='red-social' href='#'>
        <span class="icn-stack icn-lg">
          <i class="icn icn-cuadro icn-stack-2x damasco-opuesto"></i>
          <i class="icn icn-facebook icn-stack-1x icn-inverse"></i>
        </span>
      </a>
      <a class='red-social' href='#'>
        <span class="icn-stack icn-lg">
          <i class="icn icn-cuadro icn-stack-2x rojo-claro"></i>
          <i class="icn icn-enlace icn-stack-1x icn-inverse"></i>
        </span>
      </a>
      <a class='red-social' href='#'>
        <span class="icn-stack icn-lg">
          <i class="icn icn-cuadro icn-stack-2x naranja"></i>
          <i class="icn icn-rss icn-stack-1x icn-inverse"></i>
        </span>
      </a>
  </div>
</div>