<div class='aside'>
  <div class='bloque-aside'>
    <h5 class='negro'>Enlaces</h5>
    <hr>
  </div>
  <div class='bloque-aside sm'>
    <h6 class='gris'><i class="icn icn-enlace-hor icn-md"></i> más eventos</h6>
    <ul class='publicaciones-enlazadas'>
      <li><a href='#'>Diplomado en Maderas, Laminados y Mobiliario</a></li>
      <li><a href='#'>Convocatoria Concurso de Ideas y Relatos</a></li>
      <li><a href='#'>Lanzamiento Concurso Nacional de Arquitectura Parque Deportivo Villa Alemana</a></li>
      <li><a href='#'>Charla de Movilidad Estudiantil el martes 13 de mayo</a></li>
      <li><a class='gruesa' href='#'>Todas las publicaciones de Eventos</a></li>
    </ul>
    <hr>
  </div>
  <div class='bloque-aside sm'>
    <h6 class='gris'><i class="icn icn-noticias icn-md"></i> más publicaciones de concursos</h6>
    <ul class='publicaciones-enlazadas'>
      <li><a href='#'>Convocatoria Concurso de Ideas y Relatos</a></li>
      <li><a href='#'>Concursos de Innovación y Emprendimiento: postulaciones hasta el 11 de mayo</a></li>
      <li><a href='#'>Concursos de Innovación y Emprendimiento 2014</a></li>
      <li><a href='#'>Concurso de Arquitectura Subterránea CTES 2014</a></li>
    </ul>
    <hr>
  </div>
  <div class='bloque-aside oculto-sm oculto-xs'>
    <h6 class='naranja-opuesto'><i class="icn icn-twitter icn-lg"></i> @eadpucv</h6>
    <a class="twitter-timeline" href="https://twitter.com/eadpucv" data-widget-id="451107933158244352">Tweets por @eadpucv</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  <div class='bloque-aside'>
    <h5 class='fino'><i class="icn icn-vinculo icn-md"></i> Comparte este evento</h5>
      <a class='red-social' href='#'>
        <span class="icn-stack icn-lg">
          <i class="icn icn-cuadro icn-stack-2x naranja-opuesto"></i>
          <i class="icn icn-twitter icn-stack-1x icn-inverse"></i>
        </span>
      </a>
      <a class='red-social' href='#'>
        <span class="icn-stack icn-lg">
          <i class="icn icn-cuadro icn-stack-2x damasco-opuesto"></i>
          <i class="icn icn-facebook icn-stack-1x icn-inverse"></i>
        </span>
      </a>
      <a hclass='red-social' ref='#'>
        <span class="icn-stack icn-lg">
          <i class="icn icn-cuadro icn-stack-2x rojo-claro"></i>
          <i class="icn icn-enlace icn-stack-1x icn-inverse"></i>
        </span>
      </a>
      <a class='red-social' href='#'>
        <span class="icn-stack icn-lg">
          <i class="icn icn-cuadro icn-stack-2x naranja"></i>
          <i class="icn icn-rss icn-stack-1x icn-inverse"></i>
        </span>
      </a>
  </div>
</div>