<div class='aside'>
  <div class='bloque-aside'>
    <h5 class='negro'>Enlaces</h5>
    <hr>
  </div>
  <div class='bloque-aside sm'>
    <h6 class='gris'><i class="icn icn-enlace-hor icn-md"></i> Más de Docencia</h6>
    <ul class='publicaciones-enlazadas'>
      <li><a href='#'>Último período de Matrícula en Línea – 1er semestre 2014</a></li>
      <li><a href='#'>Retiro de agendas 2014</a></li>
      <li><a href='#'>VRIEA abre la convocatoria al Concurso de Proyectos Internos de Investigación</a></li>
      <li><a href='#'>Al término del 3º trimestre 2013, se recuerda a los alumnos lo siguiente:</a></li>
      <li><a class='gruesa' href='#'>Todas las publicaciones de Docencia</a></li>
    </ul>
    <hr>
  </div>
  <div class='bloque-aside sm'>
    <h6 class='gris'><i class="icn icn-noticias icn-md"></i> Enlaces referentes</h6>
    <ul class='publicaciones-enlazadas'>
      <!-- Esto sería enlaces a páginas fijas o estáticas presentes en el sitio -->
      <li><a href='#'>Historia</a></li>
      <li><a href='#'>Amereida</a></li>
      <li><a href='#'>Campus</a></li>
      <li><a href='#'>Cuerpo académico</a></li>
      <li><a href='#'>Autoridades</a></li>
      <li><a href='#'>Noticias</a></li>
      <li><a href='#'>Eventos</a></li>
      <li><a href='#'>Prensa</a></li>
      <li><a href='#'>Wiki Casiopea</a></li>
    </ul>
    <hr>
  </div>
  <div class='bloque-aside oculto-sm oculto-xs'>
    <h6 class='naranja-opuesto'><i class="icn icn-twitter icn-lg"></i> @eadpucv</h6>
    <a class="twitter-timeline" href="https://twitter.com/eadpucv" data-widget-id="451107933158244352">Tweets por @eadpucv</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  <div class='bloque-aside'>
    <h5 class='fino'><i class="icn icn-vinculo icn-md"></i> Comparte esta publicación</h5>
      <a class='red-social' href='#'>
        <span class="icn-stack icn-lg">
          <i class="icn icn-cuadro icn-stack-2x naranja-opuesto"></i>
          <i class="icn icn-twitter icn-stack-1x icn-inverse"></i>
        </span>
      </a>
      <a class='red-social' href='#'>
        <span class="icn-stack icn-lg">
          <i class="icn icn-cuadro icn-stack-2x damasco-opuesto"></i>
          <i class="icn icn-facebook icn-stack-1x icn-inverse"></i>
        </span>
      </a>
      <a class='red-social' href='#'>
        <span class="icn-stack icn-lg">
          <i class="icn icn-cuadro icn-stack-2x rojo-claro"></i>
          <i class="icn icn-enlace icn-stack-1x icn-inverse"></i>
        </span>
      </a>
      <a class='red-social' href='#'>
        <span class="icn-stack icn-lg">
          <i class="icn icn-cuadro icn-stack-2x naranja"></i>
          <i class="icn icn-rss icn-stack-1x icn-inverse"></i>
        </span>
      </a>
  </div>
</div>