<div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
  <div class='contenido-comentario'>
    <div class='imagen-usuario'>
      <img src='https://cdn3.iconfinder.com/data/icons/users/100/user_male_1-512.png'>
    </div>
    <div class='bloque-comentario'>
      <h3 class='usuario'><i class="icn icn-acto icn-md"></i> anónimo</h3>
      <div class='comentario'>
        <p><i class="icn icn-palabra icn-md"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consequat aliquam purus, sit amet tincidunt massa volutpat a. Vestibulum a aliquet turpis. Vivamus eget velit ac metus iaculis tincidunt id quis leo. Phasellus rhoncus est malesuada, viverra turpis eleifend, vehicula ligula. Sed pulvinar ullamcorper facilisis. Phasellus dapibus, massa vitae consectetur volutpat, quam mi tincidunt sapien, a ornare libero enim in ante. Donec odio elit, porttitor eget euismod ut, tincidunt et nunc. Ut in sem nulla. </p>
      </div>
    </div>
  </div>
</div>
<div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
  <div class='comentar'>
    <form class='md'>
      <legend>Deja un comentario en esta noticia</legend>
      <div class='grupo'>
        <textarea></textarea>
      </div>
      <input type='submit' class='btn btn-md gris' value='Comentar'>
    </form>
  </div>
</div>