<div class='fila'>
  <div class='col-lg-5 col-lg-offset-6 col-md-6 col-md-offset-4 col-sm-12 col-sm-offset-1 col-xs-21 col-xs-offset-1'> <!-- breadcrumbs -->
    <p class='gris-claro breadcrumbs fondo-oscuro'><a href='{{ site.baseurl }}/pags/home'>Home</a> / <a href='#'>Carreras y Posgrados</a> / Diseño Gráfico</p>
  </div>
</div>
<div class='fila'>
  <div class='col-lg-17 col-lg-offset-6 col-md-12 col-md-offset-0 col-sm-18 col-sm-offset-1 col-xs-14 col-xs-offset-1 margen-inferior'>
    <h1 class='titulo-articulo blanco'>Diseño Gráfico</h1>
    <div class='col-md-24 col-md-offset-0 col-sm-24 col-sm-offset-0 col-xs-22 col-xs-offset-0 margen-superior-xs'> <!-- subtítulo -->
      <h2 class='subtitulo-articulo gris'>Carrera de pregado</h2>
    </div>
  </div> <!-- fin col de titulo y sub -->
</div> <!-- fin fila --> 