        <div class='col-lg-12'>
              
              <div class='wrap'>
                
                <div class='fila margen-superior-s'>

                  <div class='marca-jva'> 
                    <p class='cuadro-logo margen-logo'>[ + ]]]</p>
                  </div>
                    
                  <div class='marca-jva margen-superior-s margen-cuadros'>
                    <a href='home-archivo.html'><p class='logo-archivo'>Archivo Histórico José Vial Armstrong</p></a>
                    <span class='marca-menor gris'>Escuela de Arquitectura y Diseño e[ad]</span>
                  </div>  

                  <div class='nave-jva col-lg-12 col-md-12 oculto-sm oculto-xs'>
                    <ul class="nav nav-pills margen-superior-s">
                      <li class="dropdown">
                        <a href="#" data-toggle="dropdown" role="button" id="primer-dropdown" class="dropdown-toggle">Sobre el Archivo 
                        <b class="caret"></b></a>
                        <ul aria-labelledby="drop4" role="menu" class="dropdown-menu" id="menu1">
                          <li role="presentation"><a href="/pags/historia" role="menuitem">Nuestra labor</a></li>
                          <li role="presentation"><a href="#" role="menuitem">Historia</a></li>
                          <li role="presentation"><a href="#" role="menuitem">Dependencias Archivo</a></li>
                          <li class="divider" role="presentation"></li>
                          <li role="presentation"><a href="#" role="menuitem">Noticias del archivo</a></li>
                        </ul>
                      </li>
                    </ul>
                      
                    <ul class="nav nav-pills">
                      <li class="dropdown">
                        <a href="#" data-toggle="dropdown" role="button" id="drop4" class="dropdown-toggle">Catálogos<b class="caret"></b></a>
                        <ul aria-labelledby="drop4" role="menu" class="dropdown-menu" id="menu1">
                          <li role="presentation"><a href="#" role="menuitem">Colección Fotográfica</a></li>
                          <li role="presentation"><a href="/pags/articulo-carrera-grafico" role="menuitem">Colección Audiovisual</a></li>
                          <li role="presentation"><a href="#" role="menuitem">Archivo de la Palabra</a></li>
                        </ul>
                      </li>
                    </ul>
                      
                    <ul class="nav nav-pills">
                      <li class="dropdown">
                        <a href="#" data-toggle="dropdown" role="button" id="drop4" class="dropdown-toggle">Ediciones del archivo<b class="caret"></b></a>
                        <ul aria-labelledby="drop4" role="menu" class="dropdown-menu" id="menu1">
                          <li role="presentation"><a href="#" role="menuitem">Biblioteca Constel</a></li>
                          <li role="presentation"><a href="#" role="menuitem">Ediciones e[ad]</a></li>
                        </ul>
                      </li>
                    </ul>
                      
                    <ul class="nav nav-pills">
                      <li class="dropdown">
                        <a href="#" data-toggle="dropdown" role="button" id="drop4" class="dropdown-toggle">Solicitudes<b class="caret"></b></a>
                      </li>
                    </ul>
                 
                    <ul class="nav nav-pills">
                      <li class="dropdown">
                        <a href="#" data-toggle="dropdown" role="button" id="drop4" class="dropdown-toggle">Contacto<b class="caret"></b></a>
                      </li>
                    </ul>      
                  </div>
                   <div id="pattern" class="oculto-lg oculto-md col-sm-12 col-xs-12 pattern">
                    <!--Begin Pattern HTML-->
                    <a href="#menu" class="menu-link"><i class="icn icn-menu icn-lg"></i> </a>
                    <nav id="menu" role="navigation">
                      <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Sobre el archivo
                              </a>
                            </h4>
                          </div>
                          <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                             <li><a href="#">Nuestra labor</a></li>
                             <li><a href="#">Historia</a></li>
                             <li><a href="#">Dependencias del archivo</a></li>
                             <li><a href="#">Noticias del archivo</a></li>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                Catálogos
                              </a>
                            </h4>
                          </div>
                          <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                            <li><a href="#">Colección fotográfico</a></li>
                             <li><a href="#">Colección audiovisual</a></li>
                             <li><a href="#">Archivo de la Palabra</a></li>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                Ediciones del archivo
                              </a>
                            </h4>
                          </div>
                          <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                             <li><a href="#">Biblioteca Constel</a></li>
                             <li><a href="#">Ediciones e[ad]</a></li>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                Solicitudes
                              </a>
                            </h4>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                Contacto
                              </a>
                            </h4>
                          </div>
                        </div>
                      </nav>
                    </div>
                  </div> <!-- fin fila -->
                </div> <!-- fin wrap -->
              </div><!-- fin col-lg-12 -->
          