<!-- fin barra de menú móvil-->
<div class='wrap header'>
  <div class='fila'>
    <div class='col-lg-12'>
      <a href='{{ site.baseurl }}/pags/home'>
        <div class='logo'>
          <p class='logo-ead marca'>e[ad]</p>
        </div>
        <div class='logo'>
            <p class='logo-ead'>Escuela de Arquitectura y Diseño
            <span class='bajas'>Pontificia Universidad Católica de Valparaíso</span>
            </p>
        </div>
      </a>
      <div class='oculto-sm oculto-xs'>
      <div class='navegacion cf'>
        <ul class="nav nav-pills">
         <li class="dropdown">
           <a href="#" data-toggle="dropdown" role="button" id="primer-dropdown" class="dropdown-toggle">Escuela<b class="caret"></b></a>
           <ul aria-labelledby="drop4" role="menu" class="dropdown-menu" id="menu1">
             <li role="presentation"><a href="{{ site.baseurl }}/pags/resena_introductora" tabindex="-1" role="menuitem">Historia</a></li>
             <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Amereida</a></li>
             <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Campus</a></li>
             <li role="presentation"><a href="{{ site.baseurl }}/pags/listado-cuerpo-docente" tabindex="-1" role="menuitem">Cuerpo académico</a></li>
             <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Autoridades</a></li>
             <li class="divider" role="presentation"></li>
             <li role="presentation"><a href="{{ site.baseurl }}/pags/portada_noticias" tabindex="-1" role="menuitem">Portada noticias</a></li>
             <li role="presentation"><a href="{{ site.baseurl }}/pags/portada_eventos" tabindex="-1" role="menuitem">Portada eventos</a></li>
             <li role="presentation"><a href="{{ site.baseurl }}/pags/informacion_academica" tabindex="-1" role="menuitem">Portada información académica</a></li>
             <li class="divider" role="presentation"></li>
             <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Wiki Casiopea</a></li>
             <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Prensa</a></li>
           </ul>
         </li>
       </ul>
       <ul class="nav nav-pills">
         <li class="dropdown">
           <a href="#" data-toggle="dropdown" role="button" id="drop4" class="dropdown-toggle">Carreras y Posgrados<b class="caret"></b></a>
           <ul aria-labelledby="drop4" role="menu" class="dropdown-menu" id="menu1">
             <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Arquitectura</a></li>
             <li role="presentation"><a href="{{ site.baseurl }}/pags/enunciado" tabindex="-1" role="menuitem">Diseño Gráfico</a></li>
             <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Diseño Industrial</a></li>
             <li class="divider" role="presentation"></li>
             <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Magíster de Arquitectura y Diseño</a></li>
           </ul>
         </li>
       </ul>
       <ul class="nav nav-pills">
         <li class="dropdown">
           <a href="#" data-toggle="dropdown" role="button" id="drop4" class="dropdown-toggle">Admisión<b class="caret"></b></a>
           <ul aria-labelledby="drop4" role="menu" class="dropdown-menu" id="menu1">
             <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Pregrado</a></li>
             <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Posgrado</a></li>
             <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Intercambio estudiantil</a></li>
             <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Becas y ayudas estudiantiles</a></li>
           </ul>
         </li>
       </ul>
       <ul class="nav nav-pills">
         <li class="dropdown">
           <a href="#" data-toggle="dropdown" role="button" id="drop4" class="dropdown-toggle">Estudiantes<b class="caret"></b></a>
           <ul aria-labelledby="drop4" role="menu" class="dropdown-menu" id="menu1">
             <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Cuerpo coordinador</a></li>
             <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Asuntos estudiantiles</a></li>
             <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Estudia en el extranjero</a></li>
             <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Servicios</a></li>
             <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Bolsa de trabajo</a></li>
             <li class="divider" role="presentation"></li>
             <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Ex-alumnos</a></li>
           </ul>
         </li>
       </ul>
       <ul class="nav nav-pills">
         <li class="dropdown">
           <a href="#" data-toggle="dropdown" role="button" id="drop4" class="dropdown-toggle">Extensión<b class="caret"></b></a>
           <ul aria-labelledby="drop4" role="menu" class="dropdown-menu" id="menu1">
             <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Archivo Histórico</a></li>
             <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Ediciones e[ad]</a></li>
            <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Investigación</a></li>
           </ul>
         </li>
       </ul>
       <ul class="nav nav-pills">
         <li class="dropdown">
           <a href="#" data-toggle="dropdown" role="button" id="ultimo-dropdown" class="dropdown-toggle">Amereida<b class="caret"></b></a>
           <ul aria-labelledby="drop4" role="menu" class="dropdown-menu" id="menu1">
             <li role="presentation"><a href="{{ site.baseurl }}/pags/enunciado-post" tabindex="-1" role="menuitem">Taller de Amereida</a></li>
             <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Ciudad Abierta</a></li>
             <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Travesías</a></li>
             <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Biblioteca Constel</a></li>
           </ul>
         </li>
       </ul>
      </div> <!-- fin navegacion -->
   </div> <!-- fin navs -->
   <div id="pattern" class="oculto-lg oculto-md pattern">
      <!--Begin Pattern HTML-->
      <a href="#menu" class="menu-link"><i class="icn icn-menu icn-lg"></i> </a>
      <nav id="menu" role="navigation">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  Escuela
                </a>
              </h5>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
               <li><a href="{{ site.baseurl }}/pags/resena_introductora">Historia</a></li>
               <li><a href="#">Amereida</a></li>
               <li><a href="#">Campus</a></li>
               <li><a href="#">Cuerpo académico</a></li>
               <li><a href="#">Autoridades</a></li>
               <li><a href="{{ site.baseurl }}/pags/portada_noticias">Noticias</a></li>
               <li><a href="{{ site.baseurl }}/pags/portada_eventos">Eventos</a></li>
               <li><a href="#">Prensa</a></li>
               <li><a href="#">Wiki Casiopea</a></li>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  Carreras y Posgrados
                </a>
              </h5>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
              <li><a href="#">Arquitectura</a></li>
               <li><a href="{{ site.baseurl }}/pags/enunciado">Diseño Gráfico</a></li>
               <li><a href="#">Diseño Industrial</a></li>
               <li><a href="#">Magíster de Arquitectura y Diseño</a></li>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  Admisión
                </a>
              </h5>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
               <li><a href="#">Pregrado</a></li>
               <li><a href="#">Posgrado</a></li>
               <li><a href="#">Intercambio estudiantil</a></li>
               <li><a href="#">Becas y ayudas estudiantiles</a></li>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                  Estudiantes
                </a>
              </h5>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
              <div class="panel-body">
               <li><a href="#">Cuerpo Coordinador</a></li>
               <li><a href="#">Asuntos Estudiantiles</a></li>
               <li><a href="#">Estudia en el extranjero</a></li>
               <li><a href="#">Servicios</a></li>
               <li><a href="#">Bolsa de trabajo</a></li>
               <li><a href="#">Ex-alumnos</a></li>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                  Extensión
                </a>
              </h5>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
              <div class="panel-body">
               <li><a href="#">Archivo Histórico JVA</a></li>
               <li><a href="#">Ediciones e[ad]</a></li>
               <li><a href="#">Investigación</a></li>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                  Amereida
                </a>
              </h5>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
              <div class="panel-body">
               <li><a href="{{ site.baseurl }}/pags/enunciado-post">Taller de Amereida</a></li>
               <li><a href="#">Ciudad Abierta</a></li>
               <li><a href="#">Travesías</a></li>
               <li><a href="#">Biblioteca Constel</a></li>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
   </div>
    </div>
  </div> <!-- fin fila -->
</div> <!-- fin wrap -->
